*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body{
  background-color: orange;
}


.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top:40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

